.title {
  text-align: center;
}

.card {
  border: 2px solid rgb(188, 188, 188);
  margin: 30px 20px;
  max-height: 180px;
  box-shadow: rgb(172, 172, 172) 1px 3px 9px;
  border-radius: 5px;
}

.id {
  border: none;
  border-radius: 8px;
  background-color: purple;
  max-width: 60px;
  height: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.name {
  font-size: 25px;
  font-weight: bold;
  margin-left: 20px;
}

.info {
  display: flex;
  justify-content: space-between;
}

.price {
  margin-left: 20px;
  font-size: 25px;
}

.instock {
  color: white;
  background-color: green;
  margin-right: 20px;
  border-radius: 5px;
  padding: 5px;
  font-size: 18px;
}

.outstock {
  color: white;
  background-color: red;
  margin-right: 20px;
  border-radius: 5px;
  padding: 5px;
  font-size: 18px;
}

.loading {
  text-align: center;
  margin: 20px auto;
  max-width: 400px;
}
